<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{exception.message}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

        {{> style}}

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

       <div id='page'>
           
           <h1 class='warning'>An unexpected application error has occured</h1>

            <div class='section'>
                {{> error exception}}
           </div>

           <div class='node-info section'>
               <div class='headline'>
                    <h2>Node</h2>
                </div>

                <hr/>

                {{#each node}}
                    <div>
                        <p class='property-key'>
                            {{@key}}
                        </p>
                        <p class='property-value'>
                            {{this}}
                        </p>
                    </div>
                {{/each}}    
           </div>

           <div class='request section'>
                {{> request request}}
           </div>

           <div class='request section'>
                <div class='headline'>
                    <h2>Headers</h2>
                </div>

                <hr/>

                {{#each request.headers}}
                    <div>
                        <p class='property-key'>
                            {{@key}}
                        </p>
                        <p class='property-value'>
                            {{toString this}}
                        </p>
                    </div>
                {{/each}}
           </div>

           <div class='request section'>
                <div class='headline'>
                    <h2>Session</h2>
                </div>

                <hr/>

                {{#each request.session}}
                    <div>
                        <p class='property-key'>
                            {{@key}}
                        </p>
                        <p class='property-value'>
                            {{toString this}}
                        </p>
                    </div>
                {{/each}}
           </div>

            <div class='system-info section'>
                <div class='headline'>
                    <h2>System</h2>
                </div>

                <hr/>

                <p><b>{{system.cpu.model}}</b></p>

                <div>
                    <p class='property-key'>
                        Cores
                    </p>
                    <p class='property-value'>
                        {{system.cpu.cores}}
                    </p>
                </div>

                <div>
                    <p class='property-key'>
                        Platform
                    </p>
                    <p class='property-value'>
                        {{system.platform}} {{system.arch}}
                    </p>
                </div>

                <div>
                    <p class='property-key'>
                        Hostname
                    </p>
                    <p class='property-value'>
                        {{system.hostname}}
                    </p>
                </div>

                <div>
                    <p class='property-key'>
                        Total Memory
                    </p>
                    <p class='property-value'>
                        {{system.totalmem}}
                    </p>
                </div>

                <div>
                    <p class='property-key'>
                        Free Memory
                    </p>
                    <p class='property-value'>
                        {{system.freemem}}
                    </p>
                </div>
           </div>

           <div class='environment section'>
                <div class='headline'>
                    <h2>Environment</h2>
                </div>

                <hr/>

                <div>
                    <p class='property-key'>
                        Started with arguments
                    </p>
                    <p class='property-value'>
                        {{#each environment.args}} {{this}} {{/each}}
                    </p>
                </div>

                <div>
                    <p class='property-key'>
                        Current working directory
                    </p>
                    <p class='property-value'>
                        {{environment.cwd}}
                    </p>
                </div>

                <h4>Env properties</h4>

                {{#each environment.env}}
                    <div>
                        <p class='property-key'>
                            {{@key}}
                        </p>
                        <p class='property-value'>
                            {{this}}
                        </p>
                    </div>
                {{/each}}
                
           </div>   

       </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
        
        {{> scripts}}

    </body>
</html>